@media screen and (min-width: 641px) {
    .place-card {
    display: grid;
    grid-template-areas: "photo name"
    "photo description"
    "photo location"
    "photo button";
    grid-template-columns: 300px 1fr;
    }

    .place-card img {
        width: 300px;
    }

    .place-card img:hover {
        animation: fade-in 0.5s ease-out forwards;

    }

    @keyframes fade-in {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.8);
        }
        100% {
            transform: scale(1);
        }

    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}