:root {
    --primary-color: #96b2d3;
    --secondary-color: #F0F4F8;
    --bg-color: #FFFFFF;
    --text-color: #1A1A1A;
    font-family: "Roboto", sans-serif;
}



body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    /* z-index: 10; */
}



.location-marker {
    font-weight: bold;
}



#small {
    font-size: 0.8rem;
    font-weight: normal;
}



#title-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
}



#title-card img {
    height: 100px;
    width: auto;
    margin: 0 0.5rem;
}



#menuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
}



#menuButton::before {
    content: "≡";
}



#menuButton.open::before {
    content: "X";
}



nav {
    background-color: var(--primary-color);
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    overflow: hidden;
    padding: 0;
}



nav.open {
    grid-template-rows: 1fr;
    align-items: center;
    gap: 1rem;
}



nav ul {
    background-color: var(--secondary-color);
    margin: 0;
    overflow: hidden;
    list-style-type: none;
}



li {
    margin: 0.5rem 0;
}



li a {
    text-decoration: none;
    color: var(--text-color);
}



li a:hover {
    color: whitesmoke;
}



main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 1rem;
}

#viewMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#memberCards {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#memberCards > :nth-child(odd) {
    background-color: var(--secondary-color);
}

#memberCards.gridView {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

#memberCards .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}

#memberCards p, #memberCards h3 {
    margin: 0.5rem;
}

#memberCards .list-invisible {
    display: none;
}

#memberCards.gridView .card {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

#memberCards.gridView .list-invisible {
    display: block;
}

#memberCards.gridView img {
    height: 128px;
    width: auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 330px;
    box-sizing: border-box;
}

footer h3 {
    font-weight: bold;
    margin: 0 0 0.2rem 0;
}


footer p {
    padding: 0.2rem;
    margin: 0;
}


footer a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 2rem;
}

footer div {
    margin: 0.5rem 1rem;
}

#social-media {
    display: flex;
}