@media screen and (min-width: 1024px) {
    #menuButton {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5rem;
        background-color: var(--primary-color);
    }

    ul li {
        margin: 2rem 3rem;
        width: 100px;
        text-align: center;
        box-sizing: border-box;
    }

    header h2 {
        margin:1rem 2rem;
    }

    .spotlightCards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 80%;
        margin: 1rem 10%;
    }

    .spotlightCards .card {
        height: 250px;
        overflow-y: auto;
    }

    #joinContainer {
        display: flex;
        flex-direction: row;
    }

    aside {
        position: relative;
        overflow-y: scroll;
        max-height: 70vh;
        flex-grow: 1;
    }

    aside > h3 {
        position: sticky;
        top: 0;
        right: 0;
        background-color: rgb(68, 68, 68, 70%);
        color: #fff;
        padding: 0.5rem 0.5rem;
    }

    form {
        flex-grow: 1;
    }

    #purpose {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #purpose p {
        margin: 0.5rem;
    }



}